@page
@model RockPaperScissorsBoom.Server.Pages.RunTheGameModel

@{
    ViewData["Title"] = "RunTheGame";
}

<h2>Bot Results</h2>

<ul>
    @foreach (BotRanking botRank in Model.BotRankings)
    {
        <li>@botRank.Rank) @botRank.BotName: @botRank.Wins-@botRank.Losses</li>
    }
</ul>

<h3>Full Game Results</h3>


<ul>
    <li>Coming soon...</li>
</ul>
